<mat-spinner *ngIf="isLoading"></mat-spinner>
<div *ngIf="!isLoading && emptyLibrary" class="dashboard-info">
  <h3>Your library is empty...<br />It's time to add your books!</h3>
  <p>
    <a mat-flat-button routerLink='/scanner' color="accent">
      <mat-icon>border_horizontal</mat-icon>
      <span class="nav-caption">Barcode scan</span>
    </a>
  </p>
  <p>
    <a mat-stroked-button routerLink='/search' color="basic">
      <mat-icon>search</mat-icon>
      <span class="nav-caption">Online search</span>
    </a>
  </p>
  <p>
    <a mat-stroked-button routerLink='/insert' color="basic">
      <mat-icon>add</mat-icon>
      <span class="nav-caption">Manually insert</span>
    </a>
  </p>
</div>
<mat-form-field *ngIf="!isLoading && !emptyLibrary">
  <input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Filter" [value]="searchValue">
</mat-form-field>
<mat-table *ngIf="!isLoading && !emptyLibrary" [dataSource]="dataSource"
  multiTemplateDataRows matSort>

  <!-- <ng-container matColumnDef="{{column}}" *ngFor="let column of displayedColumns">
    <th mat-header-cell *matHeaderCellDef> {{column}} </th>
    <td mat-cell *matCellDef="let book"> {{book[column]}} </td>
  </ng-container> -->

  <ng-container matColumnDef="image">
    <th mat-header-cell *matHeaderCellDef>Image</th>
    <td mat-cell *matCellDef="let book">
      <img src="{{ book.thumbnail }}" alt="">
    </td>
  </ng-container>
  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Title</th>
    <td mat-cell *matCellDef="let book">
      {{ book.title }}
    </td>
  </ng-container>
  <ng-container matColumnDef="authors">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Authors</th>
    <td mat-cell *matCellDef="let book">
      {{ book.authors }}
    </td>
  </ng-container>

  <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let book" [attr.colspan]="displayedColumns.length">
      <div class="book-detail"
           [@detailExpand]="book == expandedBook ? 'expanded' : 'collapsed'">
        <button mat-icon-button type="button" color="warn"
          (click)="onToggleFav(book.id, book.favourite)" class="favourite">
          <mat-icon>{{ book.favourite ? 'favorite' : 'favorite_border'}}</mat-icon>
        </button>
        Categories: {{book.categories}} <br />
        Languages: {{book.languages}}<br />
        Pages: {{book.pageCount}} | Publisher: {{book.publisher}}<br />
        Date: {{book.publishedDate}} | Ean: {{book.ean13}}<br />
        <div class="book-controls">
          <a href="{{ book.previewLink }}" target="_blank"
            mat-stroked-button>
            <i class="material-icons">picture_as_pdf</i> Preview
          </a>
          <a mat-button color="primary" [routerLink]="['/edit', book.id]">
            EDIT
          </a>
          <button mat-button color="warn" (click)="onDelete(book.id)">
            DELETE
          </button>
        </div>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let book; columns: displayedColumns;"
      class="book-row"
      [class.expanded-row]="expandedBook === book"
      (click)="expandedBook = expandedBook === book ? null : book">
  </tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>


  <!-- <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Actions</th>
    <td mat-cell *matCellDef="let book">
      <a mat-button color="primary" [routerLink]="['/edit', book.id]">
        EDIT
      </a><br />
      <button mat-button color="warn" (click)="onDelete(book.id)">
        DELETE
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-header-row *matRowDef="let row; columns: displayedColumns"></tr> -->

</mat-table>
<mat-paginator *ngIf="!isLoading && !emptyLibrary" #paginator [pageSize]="50"
  [pageSizeOptions]="[50, 100, 500, 1000]" showFirstLastButtons>
</mat-paginator>

<!-- <p class="info-text mat-body-1" *ngIf="books.length <= 0 && !isLoading">
  No books added yet!
</p> -->
