mat-spinner {
  margin: auto;
}

mat-form-field {
  width: calc(100% - 60px);
  margin: 10px 30px;
}

mat-table {
  max-width: 100%;
  overflow-x: scroll;
}

mat-table td {
  vertical-align: middle;
}

td.mat-cell:first-of-type,
td.mat-footer-cell:first-of-type,
th.mat-header-cell:first-of-type {
  padding-left: 10px;
}

tr.mat-header-row {
  height: 30px;
}

img {
  margin: 10px 6px 10px 0;
  max-height: 80px;
}

.dashboard-info {
  text-align: center;
}

.button-container {
  text-align: center;
  margin-top: 10px;
}

.button-nav {
  margin: 10px 10px;
}
