h2, h3 {
  margin-left: 10px;
  margin-top: 25px;
}

mat-card {
  height: auto;
  margin: 10px 10px;
  min-width: 250px;
}
mat-card-content {
  display: flex;
}

mat-card-content img {
  margin-right: 10px;
}

.mat-stroked-button {
  margin-top: 4px;
  display: inline-block;
}

.dashboard-info {
  text-align: center;
}

.card-carousel {
  display: flex;
  overflow-x: auto;
}

@media (min-width: 500px)  {
  .card-carousel {
  /* overflow: auto; */
  }
}

.container {
  padding: 10px 0 30px 0;
}

.button-nav {
  margin: 10px 10px;
}

.button-container {
  text-align: center;
}
