<h2>Dashboard</h2>
<div class="button-container">
  <a mat-raised-button color="primary" class="button-nav"
    [routerLink]="['/books']">
    Your Library
  </a>
</div>
<div class="button-container">
  <a mat-raised-button color="accent" class="button-nav"
    [routerLink]="['/scanner']">
    Scan
  </a>
  <a mat-raised-button color="basic" class="button-nav"
    [routerLink]="['/search']">
    Search
  </a>
  <a mat-raised-button color="basic" class="button-nav"
    [routerLink]="['/insert']">
    Insert
  </a>
</div>

<div *ngIf="books">
  <div *ngFor="let book of books">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          {{ book.title }}
        </mat-card-title>
        <mat-card-subtitle>
          {{ book.authors }}
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <img src="{{ book.thumbnail }}" />
        <div>
          <p>Language: {{ book.languages }}</p>
          <p>Categories: {{ book.categories }}</p>
          <a mat-raised-button color="primary"
            [routerLink]="['/edit', book.id]">
            Edit
          </a>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
