<div class="container">
  <div *ngIf="books.length === 0" class="dashboard-info">
    <h3>Your library is empty...<br />It's time to add your books!</h3>
    <p>
      <a mat-flat-button routerLink='/scanner' color="accent">
        <mat-icon>border_horizontal</mat-icon>
        <span class="nav-caption">Barcode scan</span>
      </a>
    </p>
    <p>
      <a mat-stroked-button routerLink='/search' color="basic">
        <mat-icon>search</mat-icon>
        <span class="nav-caption">Online search</span>
      </a>
    </p>
    <p>
      <a mat-stroked-button routerLink='/insert' color="basic">
        <mat-icon>add</mat-icon>
        <span class="nav-caption">Manually insert</span>
      </a>
    </p>
  </div>
  <div *ngIf="favBooks.length > 0">
    <h3>Your favourite books:</h3>
    <div class="card-carousel">
      <div *ngFor="let favBook of favBooks">
        <mat-card>
          <mat-card-header>
            <div>
              <button mat-icon-button type="button" color="warn" (click)="onToggleFav(favBook.id, favBook.favourite)">
                <mat-icon>{{ favBook.favourite ? 'favorite' : 'favorite_border'}}</mat-icon>
              </button>
            </div>
            <mat-card-title>
              {{ favBook.title }}
            </mat-card-title>
            <mat-card-subtitle>
              {{ favBook.authors }}
            </mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <img src="{{ favBook.thumbnail }}" />
            <div>
              <p>Language: {{ favBook.languages }}</p>
              <p>Categories: {{ favBook.categories }}</p>
              <a mat-stroked-button color="primary"
              [routerLink]="['/book', favBook.id]">
              <i class="material-icons">insert_drive_file</i> Detail
            </a><br />
            <a mat-stroked-button color="accent"
            [routerLink]="['/edit', favBook.id]">
            <i class="material-icons">edit</i> Edit
          </a>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
</div>
<div *ngIf="books.length > 0">
  <h3>Last inserted books:</h3>
  <div class="card-carousel">
    <div *ngFor="let book of books">
      <mat-card>
        <mat-card-header>
          <div>
            <button mat-icon-button type="button" color="warn" (click)="onToggleFav(book.id, book.favourite)">
              <mat-icon>{{ book.favourite ? 'favorite' : 'favorite_border'}}</mat-icon>
            </button>
          </div>
          <mat-card-title>
            {{ book.title }}
          </mat-card-title>
          <mat-card-subtitle>
            {{ book.authors }}
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <img src="{{ book.thumbnail }}" />
          <div>
            <p>Language: {{ book.languages }}</p>
            <p>Categories: {{ book.categories }}</p>
            <a mat-stroked-button color="primary"
            [routerLink]="['/book', book.id]">
            <i class="material-icons">insert_drive_file</i> Detail
          </a><br />
          <a mat-stroked-button color="accent"
          [routerLink]="['/edit', book.id]">
          <i class="material-icons">edit</i> Edit
        </a>
      </div>
    </mat-card-content>
  </mat-card>
</div>
</div>
</div>
</div>
