<h2>Dashboard</h2>
<div *ngIf="books.length === 0" class="dashboard-info">
  <h3>Your library is empty... It's time to add your books!</h3>
</div>
<div class="button-container" *ngIf="books.length > 0">
  <a mat-flat-button color="primary" class="button-nav"
    [routerLink]="['/books']">
    Your Library
  </a>
</div>
<div class="button-container">
  <a mat-flat-button color="accent" class="button-nav"
    [routerLink]="['/scanner']">
    Scan
  </a>
  <a mat-flat-button color="basic" class="button-nav"
    [routerLink]="['/search']">
    Search
  </a>
  <a mat-flat-button color="basic" class="button-nav"
    [routerLink]="['/insert']">
    Insert
  </a>
</div>
<div *ngIf="favBooks">
  <h3>Your favourite books:</h3>
  <div *ngFor="let favBook of favBooks">
    <mat-card>
      <mat-card-header>
        <button mat-button color="warn" (click)="onToggleFav(favBook.id, favBook.favourite)">
          <i class="material-icons">{{ favBook.favourite ? 'favorite' : 'favorite_border'}}</i>
        </button>
        <mat-card-title>
          {{ favBook.title }}
        </mat-card-title>
        <mat-card-subtitle>
          {{ favBook.authors }}
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <img src="{{ favBook.thumbnail }}" />
        <div>
          <p>Language: {{ favBook.languages }}</p>
          <p>Categories: {{ favBook.categories }}</p>
          <a mat-flat-button color="primary"
            [routerLink]="['/edit', favBook.id]">
            Edit
          </a>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<div *ngIf="books">
  <h3>Last inserted books:</h3>
  <div *ngFor="let book of books">
    <mat-card>
      <mat-card-header>
        <button mat-button color="warn" (click)="onToggleFav(book.id, book.favourite)">
          <i class="material-icons">{{ book.favourite ? 'favorite' : 'favorite_border'}}</i>
        </button>
        <mat-card-title>
          {{ book.title }}
        </mat-card-title>
        <mat-card-subtitle>
          {{ book.authors }}
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <img src="{{ book.thumbnail }}" />
        <div>
          <p>Language: {{ book.languages }}</p>
          <p>Categories: {{ book.categories }}</p>
          <a mat-flat-button color="primary"
            [routerLink]="['/edit', book.id]">
            Edit
          </a>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
