mat-card {
  margin: 50px 0;
}
mat-card-content {
  display: flex;
}

mat-card-content img {
  margin-right: 10px;
}

.dashboard-info {
  text-align: center;
}

.button-container {
  text-align: center;
}

.button-nav {
  margin: 10px 10px;
}

h2, h3 {
  margin-left: 10px;
}
