<barcode-scanner-livestream type="ean" (valueChanges)="onValueChanges($event)"></barcode-scanner-livestream>
<div [hidden]="!barcodeValue">
    {{barcodeValue}}
</div>
<ul *ngIf="books">
  <li *ngFor="let book of books">
    {{ book.volumeInfo.title }} |
    {{ book.volumeInfo.authors }} |
    <img src="{{ book.volumeInfo.imageLinks.thumbnail }}" /> |
    {{ book.volumeInfo.language }} |
    {{ book.volumeInfo.categories }} |
    {{ book.volumeInfo.pageCount }} |
    {{ book.volumeInfo.publisher }} |
    {{ book.volumeInfo.publishedDate }} |
    {{ book.volumeInfo.previewLink }} |
    {{ book.ean13 }}
    <button (click)="onAddBook(book.id, book.volumeInfo.title,
      book.volumeInfo.authors, book.volumeInfo.imageLinks.thumbnail,
      book.volumeInfo.language, book.volumeInfo.categories,
      book.volumeInfo.pageCount, book.volumeInfo.publisher,
      book.volumeInfo.publishedDate, book.volumeInfo.previewLink,
      book.ean13)">
      ADD
    </button>
  </li>
</ul>
