<barcode-scanner-livestream type="ean" (valueChanges)="onValueChanges($event)"></barcode-scanner-livestream>
<div [hidden]="!barcodeValue" class="scan-value">
    <h3>The scanner read: <strong>{{barcodeValue}}</strong></h3>
    <button mat-stroked-button color="primary" (click)="scanAgain()">Scan again</button>
</div>
<div *ngIf="books">
  <mat-card *ngFor="let book of books">
    <mat-card-header>
      <mat-card-title>
        {{ book.volumeInfo.title }}
      </mat-card-title>
      <mat-card-subtitle>
        {{ book.volumeInfo.authors }}
      </mat-card-subtitle>
    </mat-card-header>
    <img src="{{ book.thumbnail }}" />
    <mat-card-content>
      <p>Language: {{ book.volumeInfo.language }}<br />
      Categories: {{ book.volumeInfo.categories }}<br />
      Pages: {{ book.volumeInfo.pageCount }}<br />
      Publisher: {{ book.volumeInfo.publisher }}<br />
      Published in: {{ book.volumeInfo.publishedDate }}<br />
      Ean Code: {{ book.ean13 }}</p>
      <!-- <p>Preview link: {{ book.volumeInfo.previewLink }}</p> -->
      <p *ngIf=" book.volumeInfo.previewLink">
        <a href="{{ book.volumeInfo.previewLink }}" target="_blank"
          mat-button color="primary">
          <i class="material-icons">picture_as_pdf</i> Preview
        </a>
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-flat-button color="accent"
        (click)="onAddBook(book.id, book.volumeInfo.title,
          book.volumeInfo.authors, book.thumbnail,
          book.volumeInfo.language, book.volumeInfo.categories,
          book.volumeInfo.pageCount, book.volumeInfo.publisher,
          book.volumeInfo.publishedDate, book.volumeInfo.previewLink,
          book.ean13)"
      >Add</button>
    </mat-card-actions>
  </mat-card>
</div>
