<mat-toolbar>
  <a mat-button color="primary"
    (click)="goBack()">
    <i class="material-icons">arrow_back_ios</i> Back
  </a>
</mat-toolbar>
<mat-card>
  <mat-form-field>
    <input matInput type="search" (keyup)="inputChanged(search.value)" placeholder="Search book" #search id="search">
  </mat-form-field>
  <button mat-flat-button color="accent" type="button" (click)="OnSearch(search.value)">Search</button>
</mat-card>
<mat-table [dataSource]="dataSource" *ngIf="dataSource.data.length > 0">
  <ng-container matColumnDef="add">
    <th mat-header-cell *matHeaderCellDef>Add</th>
    <td mat-cell *matCellDef="let book">
      <button
        mat-flat-button color="accent"
        (click)="onAddBook(book.id, book.volumeInfo.title,
          book.volumeInfo.authors, book.thumbnail,
          book.volumeInfo.language, book.volumeInfo.categories,
          book.volumeInfo.pageCount, book.volumeInfo.publisher,
          book.volumeInfo.publishedDate, book.volumeInfo.previewLink,
          book.ean13)"
        type="button"
      >ADD</button>
    </td>
  </ng-container>
  <ng-container matColumnDef="image">
    <th mat-header-cell *matHeaderCellDef>Image</th>
    <td mat-cell *matCellDef="let book">
      <img src="{{ book.thumbnail }}" alt="">
    </td>
  </ng-container>
  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef>Title</th>
    <td mat-cell *matCellDef="let book">{{ book.volumeInfo.title }}</td>
  </ng-container>
  <ng-container matColumnDef="authors">
    <th mat-header-cell *matHeaderCellDef>Authors</th>
    <td mat-cell *matCellDef="let book">{{ book.volumeInfo.authors }}</td>
  </ng-container>
  <ng-container matColumnDef="languages">
    <th mat-header-cell *matHeaderCellDef>Languages</th>
    <td mat-cell *matCellDef="let book">{{ book.volumeInfo.language }}</td>
  </ng-container>
  <ng-container matColumnDef="categories">
    <th mat-header-cell *matHeaderCellDef>Categories</th>
    <td mat-cell *matCellDef="let book">{{ book.volumeInfo.categories }}</td>
  </ng-container>
  <!-- <ng-container matColumnDef="pageCount">
    <th mat-header-cell *matHeaderCellDef>Page count</th>
    <td mat-cell *matCellDef="let book">{{ book.volumeInfo.pageCount }}</td>
  </ng-container>
  <ng-container matColumnDef="publisher">
    <th mat-header-cell *matHeaderCellDef>Publisher</th>
    <td mat-cell *matCellDef="let book">{{ book.volumeInfo.publisher }}</td>
  </ng-container>
  <ng-container matColumnDef="publishedDate">
    <th mat-header-cell *matHeaderCellDef>Publisher date</th>
    <td mat-cell *matCellDef="let book">{{ book.volumeInfo.publishedDate }}</td>
  </ng-container>
  <ng-container matColumnDef="previewLink">
    <th mat-header-cell *matHeaderCellDef>Preview link</th>
    <td mat-cell *matCellDef="let book">{{ book.volumeInfo.previewLink }}</td>
  </ng-container>
  <ng-container matColumnDef="ean13">
    <th mat-header-cell *matHeaderCellDef>Ean13</th>
    <td mat-cell *matCellDef="let book">{{ book.ean13 }}</td>
  </ng-container> -->

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-header-row *matRowDef="let row; columns: displayedColumns"></tr>

</mat-table>
<mat-paginator  *ngIf="dataSource.data.length > 0" #paginator [pageSize]="5"
  [pageSizeOptions]="[5, 10, 15, 20]" showFirstLastButtons>
</mat-paginator>
