<mat-toolbar color="primary">
  <button mat-icon-button (click)="onToggleSidenav()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>
    <a *ngIf="!userIsAuthenticated"
      routerLink='/'>
      BkManager
    </a>
    <a *ngIf="userIsAuthenticated"
      routerLink='/dashboard'>
      BkManager
    </a>
  </span>
  <span class="spacer"></span>
  <ul class="navigation-items">
    <!-- <li>
      <a mat-button routerLink='/dashboard' routerLinkActive="mat-accent">Dashboard</a>
    </li>
    <li *ngIf="userIsAuthenticated">
      <a mat-button routerLink='/search' routerLinkActive="mat-accent">Search</a>
    </li>
    <li *ngIf="userIsAuthenticated">
      <a mat-button routerLink='/books' routerLinkActive="mat-accent">Books</a>
    </li>
    <li *ngIf="userIsAuthenticated">
      <a mat-button routerLink='/insert' routerLinkActive="mat-accent">Insert</a>
    </li>
    <li *ngIf="userIsAuthenticated">
      <a mat-button routerLink='/scanner' routerLinkActive="mat-accent">Scan</a>
    </li> -->
    <li *ngIf="!userIsAuthenticated">
      <a mat-button routerLink='/auth/login' routerLinkActive="mat-accent">
        Login
      </a>
    </li>
    <li  *ngIf="!userIsAuthenticated">
      <a mat-button routerLink='/auth/signup' routerLinkActive="mat-accent">
        Signup
      </a>
    </li>
    <li *ngIf="userIsAuthenticated">
      <button mat-button (click)="onLogout()">
        Logout
      </button>
    </li>
  </ul>
</mat-toolbar>
