:host {
  position: fixed;
  top: 0;
  width: 100%;
}

a {
  text-decoration: none;
  color: white;
}

a:hover,
a:active {
  color: lightgray;
}

ul {
  display: flex;
}

.navigation-items {
  list-style: none;
  padding: 0;
  margin: 0;
}

.spacer {
  flex: 1 1 auto;
}
