mat-spinner {
  margin: auto;
}

.button-container {
  text-align: center;
}

.field-container mat-form-field {
  margin-right: 10px;
}

img {
  margin-right: 6px;
}

.full-width {
  width: 100%;
}

.half-width {
  width: calc(50% - 20px);
  margin-right: 10px;
}
