<mat-toolbar>
  <a mat-button color="primary"
    (click)="goBack()">
    <i class="material-icons">arrow_back_ios</i> Back
  </a>
  <a mat-button color="primary"
    (click)="goBack()">
    <i class="material-icons">arrow_back_ios</i> Back
  </a>
  <a mat-button color="primary"
    (click)="goBack()">
    <i class="material-icons">arrow_back_ios</i> Back
  </a>
</mat-toolbar>
<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form (submit)="onSaveBook(myForm)" #myForm= "ngForm" [formGroup]="bookForm"
    *ngIf="!isLoading">
    <!-- <mat-form-field class="full-width">
      <button mat-button color="warn" (click)="onToggleFav(book.id)">
        <i *ngIf="!favourite" class="material-icons">favorite_border</i>
        <i *ngIf="favourite" class="material-icons">favorite</i>
      </button>
    </mat-form-field> -->
    <button mat-icon-button type="button" color="warn" (click)="onToggleFav(book.id, book.favourite)">
      <mat-icon>{{ book.favourite ? 'favorite' : 'favorite_border'}}</mat-icon>
    </button>
    <mat-form-field class="full-width">
      <input matInput required type="text"
        formControlName="title" placeholder="Book title">
      <mat-error>Please enter a book title</mat-error>
    </mat-form-field>
    <hr>
    <img [src]="bookImg" alt="">
    <mat-form-field>
      <input matInput
      type="text" formControlName="thumbnail" placeholder="Image url">
      <!-- <mat-error *ngIf="title.invalid">Please enter a book title</mat-error> -->
    </mat-form-field>
    <div formArrayName="authors">
      <div>
        <h3>Authors</h3>
        <button mat-flat-button color="primary" type="button" (click)="addAuthor()">
          <mat-icon>add</mat-icon>
        </button>
      </div>
      <div *ngFor="let author of authors.controls; let i = index"
        class="field-container">
        <mat-form-field>
          <mat-label>Author</mat-label>
          <input class="inputArray" matInput
            [formControlName]="i" placeholder="Book author">
          <!-- <mat-error *ngIf="author.invalid">Please enter a book author</mat-error> -->
        </mat-form-field>
        <button class="close" mat-flat-button type="button" color="warn"
          (click)="removeAuthor(i)">
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </div>
    <div formArrayName="languages">
      <div>
        <h3>Languages</h3>
        <button mat-flat-button color="primary" type="button" (click)="addLanguage()">
          <mat-icon>add</mat-icon>
        </button>
      </div>
      <div *ngFor="let language of languages.controls; let i = index"
        class="field-container">
        <mat-form-field>
          <mat-label>Language</mat-label>
          <input class="inputArray" matInput
            [formControlName]="i" placeholder="Book language">
          <!-- <mat-error *ngIf="author.invalid">Please enter a book author</mat-error> -->
        </mat-form-field>
        <button class="close" mat-flat-button type="button" color="warn"
          (click)="removeLanguage(i)">
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </div>
    <div formArrayName="categories">
      <div>
        <h3>Categories</h3>
        <button mat-flat-button color="primary" type="button" (click)="addCategory()">
          <mat-icon>add</mat-icon>
        </button>
      </div>
      <div *ngFor="let category of categories.controls; let i = index"
        class="field-container">
        <mat-form-field>
          <mat-label>Category</mat-label>
          <input class="inputArray" matInput
            [formControlName]="i" placeholder="Book category">
          <!-- <mat-error *ngIf="author.invalid">Please enter a book author</mat-error> -->
        </mat-form-field>
        <button class="close" mat-flat-button type="button" color="warn"
          (click)="removeCategory(i)">
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </div>
    <mat-form-field class="half-width">
      <input matInput type="number"
        formControlName="pageCount" placeholder="Book page count">
      <mat-error>Please enter number of pages</mat-error>
    </mat-form-field>
    <mat-form-field class="half-width">
      <input matInput type="text"
        formControlName="publisher" placeholder="Book publisher">
      <mat-error>Please enter publisher name</mat-error>
    </mat-form-field>
    <mat-form-field class="half-width">
      <input matInput type="text"
        formControlName="publishedDate" placeholder="Book publisher date">
      <mat-error>Please enter publisher date</mat-error>
    </mat-form-field>
    <mat-form-field class="half-width">
      <input matInput type="ean13"
      formControlName="ean13" placeholder="Book EAN13">
      <mat-error>Please enter EAN13</mat-error>
    </mat-form-field>
    <mat-form-field class="full-width">
      <input matInput type="text"
        formControlName="previewLink" placeholder="Book preview link">
      <mat-error>Please enter preview link</mat-error>
    </mat-form-field>
    <div>
      <a [href]="bookPreviewLink" target="_blank"
      mat-flat-button color="primary">
      <i class="material-icons">picture_as_pdf</i> Preview
    </a>
    </div>
    <div class="button-container">
      <button mat-flat-button color="accent"
        type="submit" [disabled]="!bookForm.valid">
        Save book
      </button>
    </div>
  </form>
</mat-card>
