<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form (ngSubmit)="onSaveBook()" [formGroup]="bookForm" *ngIf="!isLoading">
    <mat-form-field>
      <input
        matInput
        type="text"
        formControlName="title"
        required
        placeholder="Book title">
      <!-- <mat-error *ngIf="title.invalid">Please enter a book title</mat-error> -->
    </mat-form-field>
    <div formArrayName="authors">
      <h3>Authors</h3>
      <button type="button" (click)="addAuthor()">+</button>
      <mat-form-field *ngFor="let author of authors.controls; let i = index">
        <button (click)="removeAuthor(i)">X</button>
        <input
        matInput
        type="text"
        [formControlName]="i"
        placeholder="Book author">
        <!-- <mat-error *ngIf="author.invalid">Please enter a book author</mat-error> -->
      </mat-form-field>
    </div>
    <button
      mat-raised-button
      color="accent"
      type="submit"
      [disabled]="!bookForm.valid">Save book</button>
  </form>
</mat-card>
